
body {
  font-family: "PT Serif", sans-serif;
  margin: 0px;
  color: #2c3e50;
  background-repeat: repeat-y;
  font-size: 1.1em;
}

h2 {
  color: #2c3e50;
}

.card-list-item {
  min-height: 350px;
  margin: 20px;
  list-style: none;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 30px 50px 0px 50px;
  box-shadow: 0 0 1em #80808066;
  width: 200px;
  margin: auto;
  width: 50%;
  border: 3px solid rgba(0, 128, 0, 0);
  padding: 10px;
  
}
.bb{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  border: 3px solid rgba(0, 128, 0, 0);
}
.search{
  
  height: 40px;
  border-radius: 2px;
  width: 30%;
  padding-right: 10px;
  padding-left: 10px
  
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-family: "PT Serif", sans-serif;
  color: #ecf0f1;
  background-color: #e74c3c;
  height: 44px;
}

.searchinput{
  background-color: white;
  background-image: url('https://www.veryicon.com/download/png/miscellaneous/monochrome-icon-1/search-521?s=256');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 20px;
  background: transparent;
  position:static;
  
}
.text{
  
  border-color: rgba(216, 112, 147, 0.904);
}
